
<!-- <div style="background-image: url('http://www.brandgradients.com/img/backgrounds/paypal-hex-colors-gradient-background.png');"> -->
  <h1 class="text-center" style="position: relative; top: 8.6em;">{{price}}$</h1>
<div class="box">
  <span class="paypal-logo">
    <i>Pay</i><i>Pal</i>
  </span>
  
  <br />
  
  <button class="paypal-button">
    <span class="paypal-button-title">
      Pay With
    </span>
    <span class="paypal-logo">
      <i>Pay</i><i>Pal</i>
    </span>
  </button>
</div>
<!-- </div> -->